nav {
    display: flex;
    justify-content: space-between;

    .middleSide {
        background-color: rgba(255,255, 255, .2);
        backdrop-filter: blur(10px);
        padding: 8px 32px;
        border-radius: var(--br-3xl);
    }

    ul {
        display: flex;
    }

    li {
        padding-inline: 1rem;
    }
}
